<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>ECeL - Cola de Espera</title>

	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="../static/css/bootstrap3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/estilos.css">
	<script src="../static/css/bootstrap3.3.7/js/jquery-latest.js"></script>
	<script src="../static/css/bootstrap3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
	
	<div class="container-fluid">
		<br>
	        <form action="" class="">
	            <div class="form-group">    
	                <label for="codigo">Codigo:</label>
	                <input class="form-control inputsize" id="codigo" type="text" placeholder="Codigo Expediente">
	            </div>

	            <div class="row container-fluid form-group">
	                <br>
	                <button class="btn1 sm cta">Agregar A Cola</button>
	            </div>

				<br>
				<br>
	            <div class="form-group container">
	            	<table class="table table-bordered">
	            		<tr class="active">
	            			<th>Numero</th>
	            			<th>Codigo expediente</th>
	            			<th>Nombre Paciente</th>
	            		</tr>
	            		<tr>
	            			<td>1</td>
	            			<td>0165465</td>
	            			<td>Juanito Perez de la Olla</td>
	            		</tr>
	            	</table>
	            </div>
	        </form> 
	</div>

	<!-- jQuery first, then Bootstrap JS. -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
</body>
</html>