<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ECeL - Consultar Orden de Examen</title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="../static/css/bootstrap3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/estilos.css">
	<script src="../static/css/bootstrap3.3.7/js/jquery-latest.js"></script>
	<script src="../static/css/bootstrap3.3.7/js/bootstrap.min.js"></script>

<style>
	.sz{
		width: 750px;
	}
</style>
</head>
<body>

	<div class="container">
		
		<br>
		<form action="">
			<div class="form-group input1-s">
				<label for="codigoExpediente">Codigo de Expediente:</label>
				<input class="form-control" type="text" id="codigoExpediente" placeholder="Codigo Expediente">
			</div>

			<div class="row container-fluid">
				<button class="btn1 sm cta input4-s">Consultar</button>
			</div>
		</form>
		
		<br>
		<br>
		<table class="table table-bordered sz" align="center">
			
			<tr class="active">
				<th>Fecha</th>
				<th>Tipo de Examen</th>
			</tr>

			<tr>
				<td></td>
				<td></td>
			</tr>

		</table>

	</div>
	
</body>
</html>