<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ECeL - Lectura de Examenes</title>

	<meta charset="UTF-8">
	<title>ECeL - Crear Expediente</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="../static/css/bootstrap3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/estilos.css">
	<script src="../static/css/bootstrap3.3.7/js/jquery-latest.js"></script>
	<script src="../static/css/bootstrap3.3.7/js/bootstrap.min.js"></script>

	<style>
		.boton{
			width: 100px;
		}

		.margen{
			margin-right: 20px;
		}

		.boxes{
			width: 200px;
		}

		.boxes-f{
			width: 300px;
		}

		.boxes-a{
			width: 1000px;
		}
	</style>

</head>
<body>

	<div class="container">
		
		<br>
		<form action="">
			
			<div class="form-group boxes">
				<label for="codigoExamen">Codigo Examen:</label>
				<input class="form-control" id="codigoExamen" type="text" placeholder="Codigo del Examen">
			</div>

			<div class="form-group boxes-f">
				<label for="fechaContestacion">Fecha:</label>
				<input class="form-control" id="fechaContestacion" type="date">
			</div>

			<div class="form-group boxes-a">
				<label for="lectura">Lectura:</label>
				<textarea class="form-control" id="lectura" cols="30" rows="15" placeholder="Lectura"></textarea>
			</div>

		</form>

		<div class="row container-fluid">
    		<button class="btn1 sm cta boton margen">Guardar</button>
    		<button class="btn1 sm cta boton">Salir</button>
  		</div>

	</div>
	
</body>
</html>